* {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   --ff-primary: 'Roboto', sans-serif;
   --bg-color: white;
   --bg-controls-color: rgba(66, 211, 255, 0.13);
   --bg-sound: #E1E1E6;
   --tx-color: #323238;
}

body {
   background-color: var(--bg-color);
   font-family: var(--ff-primary);
   font-size: 1.6rem;
   display: flex;
   flex-direction: column;

   min-height: 100vh;
}

main {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 19.2rem;
   flex: 1;
}

footer {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

span {
   color: var(--tx-color);
   font-size: 12.6rem;
   line-height: 10rem;
}

#counter-wrapper {
   display: flex;
   flex-direction: column;
   gap: 4.5rem;
}

#time-wrapper {
   display: flex;
}

#controls-wrapper {
   display: flex;
   gap: 4.0rem;
   justify-content: center;
}

#controls-wrapper button {
   background-color: transparent;
   cursor: pointer;
}

#sounds-wrapper {
   display: grid;
   grid-template-areas: "forest rain""coffeShop fireplace";
   gap: 3.2rem;
}

#sounds-wrapper button {
   background-color: var(--bg-sound);
   border-radius: 2.4rem;

   height: 15.2rem;
   width: 13.8rem;
}
